<a href="https://colab.research.google.com/github/Lee-seongjoon/DB/blob/main/Midterm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
from sqlalchemy import create_engine
conn = create_engine("sqlite:////content/my_db.db")
print(conn.name)

sqlite

In [22]:
conn.execute('''
CREATE TABLE Booked
( 
	Reference_Number   char(18)  NOT NULL ,
	Start_Date         char(18)  NULL ,
	Start_Time         char(18)  NULL ,
	End_Date           char(18)  NULL ,
	End_Time           char(18)  NULL ,
	Start_Odometer     char(18)  NULL ,
	End_Odometer       char(18)  NULL, 
	PRIMARY KEY (Reference_Number)
); ''')

In [23]:
conn.execute('''
CREATE TABLE Booking_Service
( 
	Vehicle_ID         char(18)  NOT NULL ,
	License_Number     char(18)  NOT NULL ,
	Reference_Number   char(18)  NOT NULL ,
	Name               char(18)  NOT NULL,
	PRIMARY KEY (Vehicle_ID, License_Number, Reference_Number, Name),
	FOREIGN KEY (Vehicle_ID) REFERENCES ITS_Vehicle_Assets(Vehicle_ID),
	FOREIGN KEY (License_Number) REFERENCES Driver(License_Number),
	FOREIGN KEY (Reference_Number) REFERENCES Booked(Reference_Number),
	FOREIGN KEY (Name) REFERENCES Official(Name) 
); ''')

In [24]:
conn.execute('''
CREATE TABLE Country
( 
	Country            char(18)  NOT NULL ,
	Language           char(18)  NOT NULL,
	PRIMARY KEY (Country, Language)
); ''')

In [25]:
conn.execute('''
CREATE TABLE Driver
( 
	License_Number     char(18)  NOT NULL ,
	Name               char(18)  NULL ,
	Clearance_Number   integer  NULL ,
	FATL_Level         integer  NULL ,
	FATL_Qualification_Date datetime  NULL ,
	STLVT_Level        integer  NULL ,
	STLVT_Qualification_Date datetime  NULL ,
	Language           char(18)  NULL ,
	Country            char(18)  NULL,
	PRIMARY KEY (License_Number),
	FOREIGN KEY (Country) REFERENCES Country(Country),
	FOREIGN KEY (Language) REFERENCES Country(Language)
); ''')

In [26]:
conn.execute('''
CREATE TABLE ITS_Vehicle_Asset
( 
	Vehicle_ID         char(18)  NOT NULL ,
	Registration_ID    char(18)  NULL ,
	Manufacturer       char(18)  NULL ,
	Model              char(18)  NULL ,
	Color             char(18)  NULL ,
	Odometer           integer  NULL ,
	Passanger_Capacity integer  NULL ,
	Availability       char(18)  NULL,
	PRIMARY KEY (Vehicle_ID)
); ''')

In [27]:
conn.execute('''
CREATE TABLE Location_Name
( 
	Pickup_Address     char(18)  NULL ,
	Pickup_Location_Type char(18)  NULL ,
	Dropoff_Address    char(18)  NULL ,
	Dropoff_Location_Type char(18)  NULL 
); ''')

In [28]:
conn.execute('''
CREATE TABLE Official
( 
	Country            char(18)  NULL ,
	City_ID            char(18)  NULL ,
	Name               char(18)  NOT NULL ,
	Role              char(18)  NULL ,
	Preferred_Language char(18)  NULL,
	PRIMARY KEY (Name),
	FOREIGN KEY (Country) REFERENCES Country(Country),
	FOREIGN KEY (Preferred_Language) REFERENCES Country(Language)
); ''')

In [29]:
conn.execute('''
CREATE TABLE Vehicle_Maintenance
( 
	Vehicle_ID         char(18)  NOT NULL ,
	Action_Type        char(18)  NULL ,
	Odometer           integer  NULL ,
	final_Cost        integer  NULL ,
	Description_of_action char(18)  NULL ,
	Date              datetime  NULL,
	PRIMARY KEY (Vehicle_ID),
	FOREIGN KEY (Vehicle_ID) REFERENCES ITS_Vehicle_Asset(Vehicle_ID)
); ''')

In [33]:
conn.execute("INSERT INTO ITS_Vehicle_Asset(Vehicle_ID, Registration_ID, Manufacturer, Model, Color, Odometer, Passanger_Capacity, Availability) VALUES('V1000', '2001ABC', 'Volvo', 'XC90 SE', 'Silver', 4350, 4, 1);")
conn.execute("INSERT INTO ITS_Vehicle_Asset(Vehicle_ID, Registration_ID, Manufacturer, Model, Color, Odometer, Passanger_Capacity, Availability) VALUES('V1001', '2006AFD', 'Kia', 'K7', 'Black', 2195, 4, 1);")
conn.execute("INSERT INTO ITS_Vehicle_Asset(Vehicle_ID, Registration_ID, Manufacturer, Model, Color, Odometer, Passanger_Capacity, Availability) VALUES('V1002', '2021AHR', 'Tesla', '2020 F', 'White', 509, 4, 1);")
conn.execute("INSERT INTO ITS_Vehicle_Asset(Vehicle_ID, Registration_ID, Manufacturer, Model, Color, Odometer, Passanger_Capacity, Availability) VALUES('V1003', '2020DXF', 'Ford', 'Transit', 'Silver', 974, 2, 1);")

In [ ]:
conn.execute("INSERT INTO Driver(License_Number, Name, Clearance_Number, FATL_Level, FATL_Qualificatiion_Date, STLVT_Level, STLVT_Qualification_Date, Language, Country) VALUES('ABEJJFPEKSNOEJDIKEND', 'JOHN DOE', 1, 2, 'NULL', 2, 'NULL', 'KR', 'KOREA');")
conn.execute("INSERT INTO Driver(License_Number, Name, Clearance_Number, FATL_Level, FATL_Qualificatiion_Date, STLVT_Level, STLVT_Qualification_Date, Language, Country) VALUES('ABEJJFPEKSNOEJDIEEND', 'ADAM SMITH', 2, 3, 'NULL', 4, 'NULL', 'EN', 'USA');")